doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/runtime.js')
    script(src='/js/templates.js')
  body
    block content
    script(src='/js/main.min.js')